# vim temp files
*.swp
*.swo

# binries
*.o

# tags for vim
tags

# runtime dataset files
data/*/n_sfc_t*
data/*/x_sfc_t*
data/*/paths.dat

# everything inside runs folder
runs/*
!runs/README.md

# temp files
command
debug

# log files
*.log
