# vim temp files
*.swp
*.swo

# binries
*.o

# tags for vim
tags

# runtime dataset files
data/*/n_sfc_t*
data/*/x_sfc_t*
data/*/paths.dat
data/*

# everything inside runs folder
runs/*
!runs/README.md

# temp files
command
debug

# log files
*.log

# python compiled files
*.pyc

# python virtual environment
venv

# jupyter notebook checkpoint files
*.ipynb_checkpoints

# idea files
.idea/*
